[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "PhoneValidator"]
	path = PhoneValidator
	url = https://github.com/genderapi/phonevalidator-r
[submodule "genderapi"]
	path = genderapi
	url = https://github.com/genderapi/genderapi-r
